<div class="govuk-grid-column-one-half landing-page__section"
  data-analytics-ecommerce
  data-ecommerce-start-index="1"
  data-list-title="Brexit landing page: <%= t('taxons.brexit.' + bucket["id"]) %>"
  data-search-query>

  <% if bucket["link_path"] %>
    <a href="<%= bucket["link_path"] %>" class="landing-page__title-wrapper" data-module="track-click" track-category="navGridContentClicked" track-action="<%= bucket["index"] %>" track-label="<%= bucket["link_path"] %>" >
  <% end %>

    <h2 class="govuk-heading-m landing-page__title"><%= t('taxons.brexit.' + bucket["id"]) %></h2>

  <% if bucket["link_path"] %>
    </a>
  <% end %>

  <% if bucket["description"] %>
    <p class="govuk-body landing-page__section-desc"><%= bucket["description"] %></p>
  <% end %>

  <% if bucket["items"] %>
    <%= render "components/taxon-list", {
      heading_level: 0,
      items: bucket["items"]
    } %>
  <% end %>

  <% if bucket["block"] %>
    <%= render "govuk_publishing_components/components/govspeak", {} do %>
      <%= bucket["block"] %>
    <% end %>
  <% end %>
</div>
